body{
   
    font-family:  Script MT, Brush Script Std, cursive;
    font-size: 20px;
    background-attachment: fixed;
    background-image: url(../images/background.jpg);
    text-shadow : 2px 2px #E6E1DC;
}
h1{
    display:block;
    height: 5px;
    margin-top: 0;
    color: #E6CA1F;
    text-shadow: 2px 2px #665E2C;
    
}

header{
    font-size: 30px;
    text-align: center;
    background-color: #D4B224;
    position: sticky;
    width: 100%;
    height: 120px;
    position: fixed;
   
    
     
    
    
    
    
    
}
section{
    padding-bottom: 200px;

    display: flex;
    
    border-top: 0px;
    margin: 60px 0px 60px 0px;
    padding-top: 140px;
    margin-top: 0;
   
}
.imagen{
    display: inline;
    padding-right: 0px;
    

;
}
p{
    width: 600px;
    text-align: left;
    display: inline-block;
    background-color: none;
    font-size: 39px;
    margin-top: 0%;
    margin-right:10px;
    margin-left : 20px}

.botones li a {
    text-decoration: none;
    padding-left: 150px;
    padding-right: 150px;
    height: 50px;
    padding-bottom: 0%;
    
    border-color:2px #665A0D ;
    


}
.botones{
    display: inline-block;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    
    
}
.botones li{
display: inline;
margin-left: 0;
margin-right: 0;
border-radius:  2px 2px 2px 2px  #9b811a;
}
.nav{
    display: inline;
    height: 50px;
}
.titulo{
   
    padding-top: 0px;
    margin-top: 0px;
    
}
.yo{
    margin-top:0px;
}
ul li :hover{
    background-color:#9b811a;
    border-radius: 7px 7px 7px 7px;

}
.interes {
    padding-top: 120px;
   
    
}
.icon-social a img{
    
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    align-items: flex-end;
    
}